/* import icons from fontawesome.con */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,500;1,600&family=Montserrat:wght@400;700&display=swap');

/* css reset to remove inconsistencies in styling */
/* html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #ffffff;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html:focus-within {
  scroll-behavior: smooth; 
} 

body{ text-rendering: optimizeSpeed;
    line-height: 1.5;}

/* add font styling based off A2 guidelines */
h1{
    font-size: 86px;
    font-weight: bold;
}

h2{
    font-size: 58px;
    font-weight: lighter;
}

h3{
    font-size: 48px;
    font-weight: initial;
}

h4{
    font-size: 34px;
    font-weight: initial;
}

h5{
    font-size: 24px;
    font-weight: initial;
}

p{
    font-size: 16px;
    font-weight: initial;
}

body {
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    display: flex;
}

/* style search bar form for user input */
#searchsong {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3em;
}

/* alter song input field to display full text */
#songInput {
    font-size: 20px;
    margin-left: 2em;
    width: 50%;
    padding: 8px 16px;
    border-radius: 25px;
}

/* Style suggest button */
#suggest {
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    height: 50px;
    background-color: #019592;
    color: #fff;
    border: none;
    border-radius: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#suggest:hover r {
    background-color:#D9D9D9;
  }

/* Style delete buttons which remove the song from list */
.delete{
    padding: 1em 2em;
    background-color: transparent;
    border: none;
    border-radius: 25px;
}

/* styling layout of left side */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
    height: 100vh;
    color: #23036A;
    background-color: #F2E7FE;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 57px;
    border-bottom-right-radius: 57px;
    width: 30%;
}

#music-controller{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 2em;
}

/* editing the imported icons */
#back, #playbutton, #forward{ 
    background-color: transparent;
    border: none;
}


/* adjusting the display of album cover display */
#music-player > img {
    width: 80%; 
    height: auto;
    border-radius: 60%;
    margin-top: 3em;
  }

/* styling layout of right side */
#playlist {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 70%;
    height: 100vh;
    padding: 3em;
}

/*  styling header of the playlist */
#playlistheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}

/* main body of playlist containg album covers, tracks, artist, date added and a remove option */
#playlistbody{
    height: auto;
    overflow-y: scroll;
    padding-top: 1em;
}

/* display of each individal item (song) and its data */
.playlist-item {
    display: flex;
    justify-content: space-between;
    height: 95px;
    margin-bottom: 1em;
    align-items: center;
}

/* Making playlist items within one line */
.playlist-item > * {
    display: inline-block;
}

/* altering the respective album covers  */
.playlist-item > img {
    border-radius: 50%;
    max-height: 80%; 
    width: auto;
  }

  /* styling the filled container with artists  */
.playlist-item > .songArtist {
    display: flex; 
    justify-content: space-between;
    height: 90%;
    width: 50%;
    border: 1px solid #ffffff;
    border-radius: 45px;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    background-color: #23036A; 
}

label {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
  }


@media screen and (max-width: 1000px) {
    #playlistbody > .playlist-item > .date-added {
        display: none;
    }
}


  