@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,500;1,600&family=Montserrat:wght@400;700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  display: flex;
}

#searchsong {
    display: flex;
    align-items: center;
}

/* alter song input field to display full text */
#songInput {
    width: 50%;
    padding: 8px 15px;
    border-radius: 25px;
}

/* add font styling based off A2 guidelines */
h1{
    font-size: 86px;
    font-weight: bold;
}

h2{
    font-size: 58px;
    font-weight: lighter;
}

h3{
    font-size: 48px;
    font-weight: initial;
}

h4{
    font-size: 34px;
    font-weight: initial;
}

h5{
    font-size: 24px;
    font-weight: initial;
}

p{
    font-size: 16px;
    font-weight: initial;
}

/* Style suggest button */
#suggest {
    padding: 8px 15px;
    background-color: #019592;
    color: #fff;
    border: none;
    border-radius: 25px;
}

/* Style delete buttons which remove the song from list */
.delete{
    padding: 8px 15px;
    background-color: #707070;
    color: #000000;
    border: none;
    border-radius: 25px;
}

/* styling layout */
#music-player {
    background-color: #F2E7FE;
    /* border-radius: 10%; */
    width: 50%;
    height: 100vh;
    color: #23036A;
    padding: 16px;
    /* margin-left: -15px; */
}

/* styling layout */
#playlist {
    background-color: #000000;
    color: #fff;
    padding: 16px
}

#playlistbody{
    height: 60vh;
    overflow-y: scroll;
}

/* Making playlist items within one line */
.playlist-item > * {
    display: inline-block;
    vertical-align: baseline;
    border-color: #F2E7FE;
}
